@font-face {
  font-family: 'FONTSPRING DEMO - Cera Pro';
  src: url('../fonts/FONTSPRINGDEMO-CeraProBlackRegular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'FONTSPRING DEMO - Cera Pro';
  src: url('../fonts/FONTSPRINGDEMO-CeraProBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FONTSPRING DEMO - Cera Pro';
  src: url('../fonts/FONTSPRINGDEMO-CeraProMediumRegular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'FONTSPRING DEMO - Cera Pro';
  src: url('../fonts/FONTSPRINGDEMO-CeraProRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




