@import "../../../assets/scss/variables";

.categories__btn_div {
 display: flex;
 flex-direction: column; 
 padding: 0;
 margin-right: 100px;
}

.categories__title {
  font-weight: 700;
font-size: 18px;
line-height: 16px;
color: $color-black-one;
}

.categories__btn {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 250px;
  border: 1px solid transparent;
  background-color: transparent;
  color: $color-black;
  margin-bottom: 16px;
  cursor: pointer;

  &:hover {
    color: $color-green;
    font-weight: 600;
  }
} 